// TEST: Choice Rank2
let A = [1.0, 2.0]
let B = [1.0, 2.0]
let L = method_for(A, B)
let f = lambda(x, y) -> x - y
let g = lambda(x, y) -> x + y
let result = (L <@> f) <|> (L <@> g) |> compute
// L<@>f = [[0,-1],[1,0]] flat [0,-1,1,0]; L<@>g = [[2,3],[3,4]] flat [2,3,3,4]
// <|> picks (lhs != 0 ? lhs : rhs) => [2, -1, 1, 4]
// EXPECT: result = [2.0, -1.0, 1.0, 4.0]
