// TEST: Object For Choice
let A = [1.0, 2.0, 3.0]
let L = method_for(A)
let f = lambda(x) -> x - 1.0
let g = lambda(x) -> x + 10.0
let c1 = L <@> f
let c2 = L <@> g
let result = object_for(<|>) <@> (c1, c2) |> compute
// EXPECT: result = [11.0, 1.0, 2.0]
