// TEST: Partial Product Symmetry Distinct Arrays
// CORRECTED (arc 1). This test originally pinned the v10 s14.6 rule
// ("commutativity is the license, shared index spaces are the payoff"):
// distinct arrays A, B over the same named index type Lat, comm kernel,
// expected triangular SymIdx<2, Lat> output (6 cells). That rule is REFUTED -
// machine-checked: proofs.md shared_units_insufficient (v10 Thm 9.17) shows a
// commutative kernel over DISTINCT arrays on the same index space produces an
// asymmetric output; identity generates symmetry, nominal index-type identity
// does not. (The old s13.2 / Lemma 9.21 "arrays must be identical" framing,
// which this test's earlier comment called superseded, is the correct one.)
// The test was a known-value-failure awaiting a fix in the WRONG direction;
// it now pins the sound behavior: rectangular iteration, dense 3x3 output,
// kernel(A[i], B[j]) = A[i] * B[j] row-major. See also symmetry/014.
type Lat = Idx<3>
let A: Array<Float64 like Lat> = [1.0, 2.0, 3.0]
let B: Array<Float64 like Lat> = [10.0, 20.0, 30.0]
let result = method_for(A, B) <@> lambda(x, y) where comm(x, y) -> x * y |> compute
// EXPECT: result = [10.0, 20.0, 30.0, 20.0, 40.0, 60.0, 30.0, 60.0, 90.0]
