// TEST: Bracketed Arithmetic
// Bracketed arithmetic operators for outer product
let A = [1.0, 2.0, 3.0]
let B = [10.0, 20.0]
let added = A [+] B
let multiplied = A [*] B
let powered = A [^] B
// added is 3x2: [[11,21], [12,22], [13,23]]
// EXPECT: added = [11.0, 21.0, 12.0, 22.0, 13.0, 23.0]
// multiplied is 3x2: [[10,20], [20,40], [30,60]]
// EXPECT: multiplied = [10.0, 20.0, 20.0, 40.0, 30.0, 60.0]
