// TEST: Pipe Apply Chain
let A = [1.0, 2.0, 3.0]
let L = method_for(A)
let f = lambda(x) -> x + 10.0
let g = lambda(x) -> x * 2.0
let h = lambda(x) -> x * x
let (sums, prods, squares) = ((L, f), (L, g), (L, h)) |@> object_for(<@>) |@> object_for(<&>) |> compute
// EXPECT: sums = [11.0, 12.0, 13.0]
// EXPECT: prods = [2.0, 4.0, 6.0]
// EXPECT: squares = [1.0, 4.0, 9.0]
