// TEST: p4a-x can the ppl moment result be decompacted (is it a compact SymIdx value at all)?
import ppl as ppl
type N = Idx<5>
type D = Idx<3>
let Zt: Array<Float64 like D, N> = [[1.0, 0.25, -0.5, 0.6, -1.0], [0.0, 0.75, 1.0, -0.4, 0.3], [-0.5, 0.5, 0.0, 0.2, 0.7]]
let M2 = ppl.moments(Zt, 2)
let M2d = decompact(M2, 0)
