// TEST: Sequence Deferred
// sequence bound to variable, then computed
let A = [1.0, 2.0, 3.0]
let L = method_for(A)
let f = lambda(x) -> x + 10.0
let g = lambda(x) -> x * 2.0
let s = sequence(L <@> f, L <@> g)
let result = s |> compute
// EXPECT: result = [11.0, 12.0, 13.0, 2.0, 4.0, 6.0]
