// TEST: rounded value through a let-binding still refuses (rejects)
// The license is the VISIBLE floor/ceil application at the cast site, not
// the value's history: a floor result that took a detour through a binding
// arrives as a plain Float64 variable and refuses like any other.
// ERROR: BL3019
// ERROR-CONTAINS: spell the rounding at the cast site
let r = floor(2.9)
let bad = Int64(r)
