// TEST: Cross-module value import
// MODULE: Math
/// Multi-file test: (testName, [(moduleName, source), ...])
/// Modules are listed in dependency order (imported modules first)
/// Multi-file test: (testName, [(moduleName, source), ...])
/// Modules are listed in dependency order (imported modules first)
module Math

let pi = 3.14159
let e = 2.71828
